body{
   /* background-image: url("https://images.unsplash.com/photo-1527141774629-9f3a1c0758f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=632&q=80"); */
    background-color: blueviolet;
}

#word_game{
    background-image: url("https://onedrive.live.com/embed?cid=C5A40686061DBF7F&resid=C5A40686061DBF7F%21244865&authkey=ALlE4RpNK-WIquo");
    width: 30%;
    border: red 10px;
}