body{
    background-color: teal;
}


#jumbo{
    margin-bottom: 0%;
}

#amy{
    margin: 0%;
}
#bio {
    width: 50%;
    background-color: lightcyan;
    height: 600px;
    padding: 5%;
    color: grey;
    font-size: 24px;
}

#gradimg {
    width: 50%;
    background-image: url("./../images/grad.jpg");
    height: 600px;
    background-position: 0;
    background-size: 100%;
    background-position-y: -20px;
    /* background: no-repeat; */
}


#nav{
    padding-left: 10px;
}

.icons{
    height: 1200px;
    background-color: lightcyan;
    width: 80% auto;
}
#icon1{
    width: 50%;
    /* background-image: url("./../images/icons/code_img2.png"); */
    height: 600px;
}
#icon2{
    width: 50%;
    /* background-image: url("./../images/icons/code_img2.png"); */
    height: 600px;
}
#icon3{
    width: 33%;
    /* background-image: url("./../images/icons/code_img2.png"); */
    height: 600px;
}

#icon4{
    width: 33%;
    /* background-image: url("./../images/icons/code_img2.png"); */
    height: 600px;
}
#icon5{
    width: 33%;
    /* background-image: url("./../images/icons/code_img2.png"); */
    height: 600px;
}

