* {
  box-sizing: border-box;
}

@media screen and (max-width: 760px){
  .container {
    width: 100%;
    display: flex;
  }
}

a{
  color: white;
}
#contact{
  margin-top: 50%;
  margin-left: 60%;
  border: 8px white;
  color: white;
  font: bold 14px;
}


body{
background-color: lightgray ;
background-image: url("../../assets/images/sf.jpg");
background-size: 100%;
background-position-y: 50%;
}

#row{
  width: 20%;
  margin-left: 60%;
  background-color: 180,98,20,.5;
  color: palevioletred;
  font-size: 26px;
  font: bold;
}
.image {
  display: block;
  width: 50%;
  height: 50%;
  opacity: .6;
  margin-left: 50%;

}

#link{
  margin-top: 10%;
  width: 20%;
  margin-left: 60%;
  background-color: rgb(161,172,204);
  padding: auto;
  text-align: center;
  vertical-align: middle;
  font-style: italic;
}
#in{
  margin-top: 0%;
  width: 20%;
  margin-left: 50%;
}

#email{
  width: 30%;
  margin-left: 60%;
  background-color: rgb(161,172,204);
  font-size: 26px;
  font: bold;
  margin-top: 1%;
  padding: auto;
  text-align: center;
  vertical-align: middle;
  font-style: italic;
}

#welcome{
  color: whitesmoke;
  width: 30%;
  font-size: 30px;
  margin-left: 60%;
  margin-top: 2%;
  font-style: italic;
  background-color: rgb(161,172,204);
  padding: auto;
  text-align: center;
  vertical-align: middle;
}
