body{
    background-color: black;
}
/* h4{
    margin-top: 0%;
    /* margin-bottom: 0%; */  /*
    margin-bottom: 0%;

} */


#jumbo{
    margin-bottom: 0%;
}

#amy{
    margin: 0%;
}
#bio {
    width: 50%;
    background-color: black;
    height: 600px;
    padding: 5%;
    color: lightgrey;
    font-size: 20px;
    text-align: justify;
  }
  
#gradimg {
    width: 50%;
    background-image: url("./../images/grad.jpg");
    height: 600px;
    background-position: 0;
    background-size: 100%;
    background-position-y: -20px;
    background-repeat: no-repeat;
}


#nav{
    padding-left: 20px;
    background-color: grey;    
    color: black;
}


/* 
.icons{
    height: 1200px;
    background-color: black;
    width: 80% auto;
}
#icon1{
    width: 50%;
    /* background-image: url("./../images/icons/code_img2.png"); */ /*
    height: 600px;
} */

#project {
    width: 99%;
    background-color: white;
    color:black;
    margin: auto;
    text-align: justify;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 0.5%;
    border: 20px darkblue;
}

#next_project {
    width: 99%;
    background-color: lightcyan;
    color:black;
    margin: auto;
    text-align: justify;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 0.5%;
    border: 20px darkblue;
}
#code_right {
    width: 20%;
    margin: auto;
    align-content: center; */
    /* padding-right: 20%; */
}

#code_left {
    width: 20%;
    margin: auto;
    /* align-content: center; */
    /* padding-left: 20%; */
}

#code_cener {
    width: 40%;
    margin: auto;
    /* padding: 5%; */
}