body{
   background-color: rgb(237, 242, 243); 
/*  background-color: white; */
}


#jumbo{
  margin-bottom: 0%;
}

#amy{
  margin: 0%;
}
#bio {
  width: 50%;
  background-color:black;
  height: 600px;
  padding: 5%;
  color: lightgrey;
  font-size:20px;
  text-align: justify;
}

#gradimg {
  width: 50%;
  background-image: url("./../images/grad.jpg");
  height: 600px;
  background-position: 0;
  background-size: 100%;
  background-position-y: -20px;
  background-repeat: no-repeat;
}

#nav{
  padding-left: 20px;
  background-color: darkblue;
}

/* .icons{
  height: 600px;
  background-color: lightcyan;


  #code{
    border: 15px red;
    background-color: darkslategray;
    color: lightgrey;
  }



  /* CODE FOR FADE TO TEXT */


  .container {
    position: relative;
    width: 100%;
    height: 10%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(237, 242, 243);
    padding: 20%;
  }
  
  #overlay{
    background-color: white
  }
  /* #code:hover .overlay {
    opacity: .9;
  } */
  /* #contact:hover .overlay {
    opacity: .9;
  }
  #database:hover .overlay {
    opacity: .9;
  } */
  #overlay:hover .overlay {
    opacity: 1;
  }
    /* #tutor:hover .overlay {
      opacity: .9;
    } 
   */
  .text {
    color: black;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  
  /*  END CODE FOR FADE TO TEXT  */