* {
  box-sizing: border-box;
}

@media screen and (max-width: 760px){
  .container {
    width: 100%;
    display: flex;
  }
}


body{
background-color: lightgray ;
font-family: Arial, Helvetica, sans-serif;
}

#namebox{
  color: white;
  background-color:teal;
  font-size: 24px;
  text-align: center;
  height: 50px;
}

#navbar{
  height: 50px;
  color:grey;
  font-size: 18px;
  vertical-align: bottom;
  text-align: right;
}

nav { background-color: white}


/*.crumb {
    display: inline-block;
}

.crumb a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}*/

#nav{
  text-align: right;
  vertical-align: bottom;
  font-family: Georgia, 'Times New Roman', Times, serif;
  vertical-align: baseline;
}

#gap{
height: 20px;
}

#about{
  color:teal;
  font-size: 20px;
  height:50px;
  background-color: white;
  padding: 15px;
  border-bottom: 5px red;
  border: greenyellow 4px;
}

#content1{
  padding:15px;
  height: 200px;
  background-color: white;
  text-align: left;
}

#content2{
  padding:15px;
  height: 80px;
  background-color: white;
  text-align: left;
}

#img{
  width: 90%;
  height: 90%;
}

#img2{
  width:30%;
  height: 30%;
  padding: 10px;
}

#footer{
  background-color:#666666;
  border-top: green 5px solid;
  text-align: center;
  height: 50px;
  color:white;
  font-size: 14px;
  padding-top:20px;

}

#main{
  width: 960px;
  height:320px;
  background-color:#ffffff;
  border: #dddddd 3px;
  padding-left: 10px;
  margin:auto;
  border-top-color: #dddddd;
}

#portfolio{
  height:2160px;
  background-color:#ffffff;
  border: #dddddd 3px;
  padding: 10px;

}



#tealheader{
  color:teal;
  font-size: 20px;
  text-align: left;
  padding-left: 10px;
  border-bottom: #dddddd 2px;
  padding-right: 10px;

}

/*#portfolio{
  padding: 10px;
  flex: auto;
  height: 300px;
}*/

#pics{
  height: 30%;
  width: 30%;
  padding: 10px;
}

.box {
  display: flex;
  flex-wrap: wrap;
}


/** {
    box-sizing: border-box;
  }

  body {
    font-size: 14px;
    color: black;
  }

  .header{

  }

#navbar{
  text-allign:right;
}
  #namebox {
    color:whitesmoke;
    padding: 0px;
    margin: 0;
    text-align: center;
    background: darkblue);
  } **/

  #trivia{
    /* background-image: url("https://onedrive.live.com/embed?cid=C5A40686061DBF7F&resid=C5A40686061DBF7F%21244865&authkey=ALlE4RpNK-WIquo"); */
    width: 50%;
    border: 10px red;
    background-image: '../../assets/images/Word_Game'
  }